{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 5%">
        <img src="{{ asset('images/water.png') }}" width="100%" style="alignment: center">
    </div>
    <div class="container" style="margin-top: 3%">
        <p>
            SEN-FORAGE, l'excellence pour le Sénégal, la référence pour l'Afrique.
            A partir du 1er janvier 2020, SEN-FORAGE devient la nouvelle société de gestion de l’exploitation et de la distribution de l’eau potable en zone urbaine et péri-urbaine.

            Son ambition est de garantir à tous un accès à l’eau en qualité et en quantité suffisante, 24h/24 et 7j/7.

            Pour y arriver, SEN-FORAGE compte s’appuyer sur des outils modernes de supervision en temps réel de tout le réseau et mettre sur pied un centre de recherche et d’innovation pour rayonner dans toute la sous-région.

            La qualité de la relation client sera au centre des préoccupations avec des outils digitaux simples et pratiques. Objectif : Une meilleure écoute pour plus de réactivité dans le service.

            SEN-FORAGE est une société de droit sénégalais dont la structure du capital après la phase dite de « portage » sera la suivante :
            Contrat d’affermage pour la production et la distribution de l’eau potable en zones urbaines et péri-urbaines au Sénégal. Client : la Société Nationale des Eaux du Sénégal (SONES), société anonyme à capitaux publics, concessionnaire de l’Etat pour la gestion du patrimoine hydraulique urbain / Ministère de l’Eau et de l’Assainissement. Est entré en vigueur le 1er janvier 2020 pour une durée de 15 ans.



            Comment est structurée la gouvernance de SEN-FORAGE ?
            Le Président du Conseil d’Administration est Sénégalais, et le Conseil d’Administration est majoritairement Sénégalais. Il détermine la stratégie de l’entreprise et contrôle sa mise en œuvre.
            Le Directeur Général est un représentant de SUEZ, garant de la mise en place des technologies et des investissements que le Groupe porte.
            Le Comité de Direction, majoritairement sénégalais, mettra en œuvre et pilote la stratégie et le Plan d’actions définis par le Conseil d’Administration.
            Un Comité des managers permet de définir les actions terrain prioritaires
            Les axes stratégiques sont déclinés dans chaque direction en plan d’actions avec des indicateurs qui font l’objet d’un tableau de bord mensuel.



            A PROPOS DE SUEZ

            L’expérience internationale de SUEZ au service des Sénégalais

            Expert des services dans les métiers de l’eau, des déchets depuis 160 ans, SUEZ accompagne les collectivités et les industriels dans la gestion performante et durable de leurs ressources. Près de 90 000 collaborateurs sont présents sur les 5 continents. Le Groupe a réalisé un chiffre d’affaires de 17,3 milliards d’Euros en 2018.

            Les domaines d’activité du Groupe sont :

            L’ingénierie, la conception, la construction et l’opération et maintenance d’infrastructures de traitement d’eau et des déchets,
            les services Eau (production, gestion des réseaux de distribution, recherche de fuites, gestion de la clientèle) et Déchets (gestion intégrée des déchets, recyclage et valorisation)
            le conseil et les nouvelles solutions Smart de services à l’environnement  utilisant les nouvelles technologies digitales au service de la performance et la qualité environnementales (smart city, smart agriculture, climat et qualité de l’air)


            Dans les services d’eau et d’assainissement, SUEZ dispose d’une longue et large expérience et  propose son expertise dans plusieurs pays et grandes villes du  monde : Maroc (Casablanca, 4,4 millions d’habitants desservis), Algérie (Alger et Tipasa, 4,8 millions d’habitants), Australie (Adélaïde et Perth), France (12 millions de personnes desservies en eau potable), Colombie (Cartagena de Indias), Chongqing et autres villes en Chine, plusieurs villes en Inde (15 millions d’habitants desservis) et au Chili (Santiago, 7 millions d’habitants desservis) entre autres.

            www.suez-africa.com
        </p>

    </div>
{% endblock %}
